#main {
	
}
body {
	padding-top: 50px;
}
.fill_span {
	width: 100%;
}
.plant_tiles .plant_tile {
}
.plant_tiles {
	margin-bottom: 1em;
}
.cactus-nav {
	margin-top:0;
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
 }